# Visual Studio / .NET
.vs/
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
.idea/

# Build results
[Dd]ebugPublic/
[Rr]eleasePublic/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

# OS
.DS_Store
Thumbs.db

# Umbraco
**/umbraco/Data/
**/umbraco/Logs/
**/umbraco/mediacache/
**/umbraco/models/
**/App_Data/
